.proceedbtn{
    width: 500px;
    height:70px ;
    background-color:#1FACF3;
    
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.procmain{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.method{
    display: flex;
}
.btnproce{
    color: white;
    background-color: #1FACF3;
    font-size: 25px;
}
